@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Merriweather:ital@1&family=Montserrat:wght@600;700&family=Mukta:wght@700&family=Poppins&family=Prompt&family=Roboto:wght@300;400;500;900&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
   font-family: 'Ubuntu';

}
body{
    background-color: rgba(252, 251, 249, 0.92);
}
.main{
    width: 100vw;
    height: 100vh;
  
    padding-right: 150px;
    box-sizing: border-box;
}
.main nav{
    display: flex;
    justify-content: space-around;
    padding: 45px 0 0 0;
}
.main nav a:hover{
    color:rgb(220, 18, 18) ;
    border-bottom: 5px solid rgb(220, 18, 18);
}
.main nav .icons{
   width: 150px;
   display: flex;
   justify-content: space-around;
   
}
.main nav img{
    width: 250px;
    margin-top: -170px;
    margin-left: 150px;

}
.main nav ul{
    
    list-style-type: none;
    width: 30vw;
    display: flex;
    justify-content: space-between;
    font-weight: 900;
}
.main nav ul .active{
    border-bottom: 5px solid rgb(220, 18, 18);
    color: rgb(220, 18, 18);
}
.main nav ul li{
    display: inline-block;
}
.main nav ul a{
    text-decoration: none;
    color: black;
}
.main .dil:hover{
  fill:red;
}
.main .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .main .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
 .main .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .main .dropdown-content a:hover {
    border: none;
    background-color: #f1f1f1
}
  
 
  .main .dropdown:hover .dropdown-content {
    display: block;
  }
.menu1{
   
    display: flex;
    flex-direction: column;
}

#searc{
    height: 25px;
    outline: none;
    padding: 10px;
    width: 120px;
    color: grey;
    background-color: rgb(218, 216, 216);
    border: none;
    border-radius: 5px;
    font-weight: 500;
    
}
#searc:hover{
    outline: none;
}
.m1{
    display: flex;
}
.one{
   width: 50vw;
  padding: 10px 0 0 120px;
}

.one .heading1{
    font-size: 60px;
    color: rgb(220, 18, 18);
}
.one .heading2{
    font-size: 60px;
    
}
.one p{
    font-size: 20px;
    font-weight: 600;
    color: rgb(74, 74, 74);
}
.btn-count{
    display: flex;
    padding-top: 30px;
    width: 33vw;
    justify-content: space-between;
    
}
.btn-count button{
    width: 130px;
    height: 37px;
    background-color: rgb(220, 18, 18);
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 15px;
}
.btn-count button:hover{
    color: rgb(220, 18, 18);
    background: transparent;
    border: 1px solid rgb(220, 18, 18);
}
.btn-count span{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(74, 74, 74);
}
.btn-count p{
    font-size: 15px;
}
.two{
    width: 50vw;
  
}
.two img{
    margin-left: 40px;
   width: 100%;
   height: 100%;
}
footer{
    width: 100vw;
    display: flex;
   
}
footer .bottel {
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
    padding: 0 0 0 70px;
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
}
footer .bottel .bottel1{
    background-color: white;
    width: 10vw;
    height: 27vh;
    border-radius: 10px;
    box-shadow: 1px 1px 7px rgb(254, 160, 160);
    padding-left: 5px;
  
}
footer .bottel .bottel1:hover{
    
    box-shadow: 1px 1px 10px rgb(246, 32, 32);
  
  
}
footer .bottel .bottel1 img{
    width: 100%;
    height: 70%;
   
}
footer .bottom{
    display: flex;
    justify-content: space-between;
    color: rgb(74, 74, 74);
    font-weight: 900;
}
footer .bottom .plus{
    width: 27px;
    border-radius: 10px 0 10px 0;
    background-color: rgb(252, 192, 192);
    text-align: center;
    font-size: 27px;
   
}
.off{
    width: 30vw;
    height: 100px;
margin-right: -160px;
border-left: 4px solid rgb(220, 18, 18);
padding-left: 20px;
}
.off h2{
    font-weight: bolder;
    font-size: 30px;
}
.off h2 span{
    color: rgb(220, 18, 18);
}
.another-bottom{
    display: flex;
}
footer .off p{
    margin-top: 15px;
   color:rgb(74, 74, 74) ;
   margin-right: 10px;
}
footer .off .arrow{
    margin-top: 15px;
    color: rgb(220, 18, 18);
}
.img img{
    
    height: 175px;
  
}
.main2{
    width: 100vw;
    height: 100vh;
    background-color: rgba(252, 251, 249, 0.92);
   
}
.main2 .portion{
    display: flex;
    width: 100vw;
    box-sizing: border-box;
    height: 50vh;
    background-color: rgb(252, 192, 192);
    padding: 50px 120px 50px 120px;
    margin-top: 100px;
}
.portion .portion1{
    width: 50vw;
    height: 40vh;
}
.portion .portion1 h2{
    color: rgb(220, 18, 18);
    font-weight: bolder;
font-size: 30px;
}

.portion .portion1 .a-juice{
    font-size: 17px;
    font-weight: 600;
    color: rgb(74, 74, 74);
}

.portion .portion2{
    width: 20vw;
    height: 40vh;
  border-top: 5px solid rgb(220, 18, 18);
  border-left: 5px solid rgb(220, 18, 18);
    margin-left: 150px;
    margin-top: -20px;
    background-color: rgba(252, 251, 249, 0.92);
   border-radius: 0 20px 0 20px;
   box-shadow: 1px 1px 10px rgb(111, 109, 109);
 
  
}
.portion .portion2:hover{

   box-shadow: 1px 1px 20px rgb(110, 107, 107);
 
  
}
.portion .portion2 img{
   
   width: 100%;
   height: 100%;
   
}
.list {
  
   padding: 50px 8vw;
  
}
.list h1{
    text-align: center;
    margin: 0 0 10px -2px;
    font-size: 45px;
    
}
.list .bottel{
    border-bottom: 5px solid rgb(220, 18, 18);
    border-left: 5px solid rgb(220, 18, 18);
    width: 86vw;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
    border-radius: 0 0 20px 20px;
}
.list .bottel .bottel1{
    background-color: white;
    width: 14vw;
    height: 40vh;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(248, 196, 196);
    padding-left: 5px;
   margin-top: 20px;
  
}
.list .bottel .bottel1:hover{
    
    box-shadow: 1px 1px 10px rgb(246, 35, 35);
    
}
.bottel1 p{
    font-weight: bold;
}
.list .bottel .bottel1 img{
    width: 100%;
    height: 80%;
   
   
}
.list h1 span{
    color: rgb(220, 18, 18);
}
.list h1 img{
    width: 70px;
    margin-bottom: -10px;
}
.list .bottom{
    display: flex;
    justify-content: space-between;
    color: rgb(74, 74, 74);
    font-weight: 900;
}
.list .bottom .plus{
    width: 27px;
    border-radius: 10px 0 10px 0;
    background-color: rgb(252, 192, 192);
    text-align: center;
    font-size: 27px;
   
}
.main3{
    margin-top: 150px;
    width: 100vw;
    height: 150vh;
    background-color: rgba(252, 251, 249, 0.92);
   
}
.main3 .box{
    
    margin: 0 7vw 0 7vw;
    
}
.main3 h1{
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;
}
.main3 h1 span{
    color: rgb(220, 18, 18);
}
.main3 h1 img{
    width: 70px;
    margin-bottom: -10px;
}


.main3 .bottel{
     
    width: 86vw;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
    border-radius: 0 0 20px 20px;
}
.main3 .bottel .bottel1{
    background-color: white;
    width: 14vw;
    height: 40vh;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(248, 196, 196);
    padding-left: 5px;
   margin-top: 20px;
  
}
.main3 .bottel .bottel1:hover{
    
    box-shadow: 1px 1px 10px rgb(246, 35, 35);
    
}
.bottel1 p{
    font-weight: bold;
}
.main3 .bottel .bottel1 img{
    width: 100%;
    height: 80%;
   
   
}

.main3 .bottom{
    display: flex;
    justify-content: space-between;
    color: rgb(74, 74, 74);
    font-weight: 900;
}
.main3 .bottom .plus{
    width: 27px;
    border-radius: 10px 0 10px 0;
    background-color: rgb(252, 192, 192);
    text-align: center;
    font-size: 27px;
   
}

#newsletter {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(252, 192, 192);
    
}

#newsletter h4 {
    margin-left: -80px;
    font-size: 35px;
    font-weight: 900;
  color: black;
}

#newsletter p {
    margin-left: -80px;
    font-size: 15px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span {
    
    color: rgb(220, 18, 18);
    font-weight: 900;
}
.section-p1 .img123{
    margin-top: -20px;
    margin-left: -100px;
    width: 200px;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
  font-weight: bold;
 
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    font-size: 20px;
    width: 200px;
    border: none;
    font-weight: bolder;
    background-color: rgb(220, 18, 18);
    color: #fff;
    
  border-radius: 0 10px 10px 0;
}
#newsletter button:hover {
    
    background-color: #fff;
    color: rgb(220, 18, 18);
    
}
.section-p1 {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.section-p1 img{
    margin-top: -20px;
    margin-left: -50px;
    width: 200px;
}

.section-p1 .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}



.section-p1 h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

.section-p1 p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

.section-p1 a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

.section-p1 .follow {
    margin-top: 20px;
}

.section-p1 .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

.section-p1 .install .row img {
    border: 1px solid rgb(220, 18, 18);
    border-radius: 6px;
}

.section-p1 .install img {
    margin: 10px 0 15px 0;
}

.section-p1 .follow i:hover,
.section-p1 a:hover {
    color: rgb(220, 18, 18);
    font-weight: 900;
}

.section-p1 .copyright {
    width: 100%;
    text-align: center;
}

/* mens juice.... */
.container{
    padding: 50px 0 50px 7vw;
    display: flex;
}
.container .container1{
    width: 43vw;
    height: 40vh;
}
.container .container1 h1{
    margin-top: -30px;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.container .container1 h1 span{
    color: rgb(220, 18, 18);;
}
.container .container1 p{
    font-size: 20px;
    color:rgb(74, 74, 74);
    font-weight: bolder;
}
.f-m-1{
    margin-top: -100px;
}
.container .container2{
    width: 50vw;
    height: 40vh;
}
.container .container2 img{
    margin-top: -100px;
   margin-left: 50px;
  width: 100%;
}